.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.FBCIndex
.FBCIndexO
_cf.md
manage_cf_dns.py
update_cf_dns.py
